{{ partial "header.html" . }}

<div id="index">
    <header id="homeHeader">
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.AuthorBio }}</p>
        <p>
        <form id='contact-form' action="https://api.pjgranahan.com/site/recaptcha/verify" method="POST">
            <button class="g-recaptcha" data-sitekey="{{ .Site.Params.GoogleInvisibleRecaptchaSiteKey }}" data-callback='onSubmit'>Submit</button>
            <br/>
        </form>
        </p>
    </header>

    <ul id="homeList">
        {{ range .Data.Pages }}
        {{ .Render "li" }}
        {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}