{{ partial "header.html" . }}

<div id="index">
    <header id="homeHeader">
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.AuthorBio }}</p>
        <p><a id="contactInfo">Click to see contact info</a></p>
        <p>
            <a id="email_address">Email address</a> | <a id="phone_number">Phone number</a>
        </p>
    </header>

    <ul id="homeList">
        {{ range .Data.Pages }}
        {{ .Render "li" }}
        {{ end }}
    </ul>
</div>



{{ partial "footer.html" . }}