{{ partial "header.html" . }}

<div id="index">
    <header id="homeHeader">
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.AuthorBio }}</p>
        <p>
        </p>
        <div class="g-recaptcha"
             data-sitekey="{{ .Site.Params.RecaptchaSiteKey }}"
             data-callback="onSuccessfulValidation"
             data-size="invisible">
        </div>
    </header>

    <ul id="homeList">
        {{ range .Data.Pages }}
        {{ .Render "li" }}
        {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}