<!doctype html>
<html>

{% include header.html title=page.title | append: ' - ' | append: site.title %}

<body>
<div class="wrapper">
    <header>
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
        <h2>{{ page.title }}</h2>
        <aside>Posted on {{ page.date | date: "%B %-d, %Y" }}</aside>
    </header>

    <section>
        {{ content }}
    </section>

    <footer>
        <p>
            <small>View this page's <a
                    href="{{ site.github-repo-url | append: '/commits/master/' | append: page.path }}">history</a>
            </small>
        </p>
    </footer>
</div>

{% include footer.html %}

</body>
</html>
